@import "../../bower_components/susy/sass/susy";

$chatFont: arial;
$headerFooterBg: #F3F5F5;
$h1TexboxTopMarg: 1.5em;
$botBg: #d3d3d3;
$userBg: #0CA3E1;

/******************************************************************************
*******************************************************************************
BEGIN MEDIA QUERY MIN-WIDTH 15EM
*******************************************************************************
******************************************************************************/

@media screen and (min-width: 15em) {

  $susy: (
    columns: 4,
    container: 20em
  );

  .wrapper {
    @include container;
    box-sizing: border-box;
    margin-top: -1em;
  } // end .wrapper

  main {
    overflow: auto;
    height: 33.25em;
  }

  header,
  footer {
    background-color: $headerFooterBg;
    text-align: center;
  }

  h1 {
    padding-top: $h1TexboxTopMarg;
    font-family: cursive;
    font-size: 1.6em;
    font-weight: 700;
  }

  .logo {
    width: 5em;
  }

  .botTalkBubble {
    // @include span( 3 of 4 ); // each li will take up 1 column
    width: auto;
    background-color: $botBg;
    float: left;
    text-align: left;
    border-radius: 1em;
    padding:.43em;
    margin-top: .75em;
    margin-left: .5em;
    font-family: $chatFont;
  }

  .userTalkBubble{
    @include span( 3 of 4 ); // each li will take up 1 column
    background-color: $userBg;
    float: right;
    text-align: right;
    border-radius: 1em;
    padding:.43em;
    margin-top: .75em;
    margin-right: .5em;
    font-family: $chatFont;
    color: #fff;
  }

  img {
    width: 12.5em;
  }

  .weatherIcon {
    width: 2em;
  }

  footer {
    padding-top: 1.15em;
    border-top: 1.5px solid $botBg;
  }

  .fa-camera {
    color:grey;
  }

  .textBox {
    width: 10em;
    height: 1.8em;
    border-radius: .9em;
    font-size: 1.25em;
    margin: 0 .4em .75em .55em;
  }

  .textBox:focus {
    outline: none; /* thank you, http://stackoverflow.com/questions/3397113/how-to-
                   remove-border-outline-around-text-input-boxes-chrome for your help */
  }

  .sendButton {
    margin-top: .31em;
    font-size: 1.25em;
    color:grey;
    font-family: Arial;
    cursor: pointer;
  }
} // end media query min-width 15em

/******************************************************************************
*******************************************************************************
BEGIN MEDIA QUERY MIN-WIDTH 26EM
*******************************************************************************
******************************************************************************/

$bubbleFontSize: 1.1em;

@media screen and (min-width: 26em) {

  $susy: (
    columns: 4,
    container: 20em
  );

  .wrapper {
    @include container;
    box-sizing: border-box;
    margin-top: -1em;
  } // end .wrapper

  main {
    overflow: auto;
    height: 31.1em;
  }

  header,
  footer {
    background-color: $headerFooterBg;
    text-align: center;
  }

  h1 {
    padding-top: $h1TexboxTopMarg;
    font-family: cursive;
    font-size: 2em;
    font-weight: 700;
  }

  .logo {
    width: 6em;
  }

  .botTalkBubble {
    // @include span( 3 of 4 ); // each li will take up 1 column
    width: auto;
    background-color: $botBg;
    float: left;
    text-align: left;
    border-radius: 1em;
    padding:.65em;
    margin-top: .75em;
    margin-left: .5em;
    font-family: $chatFont;
    font-size: $bubbleFontSize;
  }

  .userTalkBubble{
    @include span( 3 of 4 ); // each li will take up 1 column
    background-color: $userBg;
    float: right;
    text-align: right;
    border-radius: 1em;
    padding:.43em;
    margin-top: .75em;
    margin-right: .5em;
    font-family: $chatFont;
    font-size: $bubbleFontSize;
    color: #fff;
  }

  img {
    width: 13.5em;
  }

  .weatherIcon {
    width: 2em;
  }

  .fa-camera {
    color:grey;
  }

  footer {
    padding-top: 1.15em;
    border-top: 1.5px solid $botBg;
  }

  .textBox {
    width: 10em;
    height: 1.5em;
    border-radius: .9em;
    font-size: 1.35em;
    margin: 0 .4em .75em .55em;
  }

  .textBox:focus {
    outline: none; // thank you, http://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome
  }

  .sendButton {
    margin-top: .31em;
    font-size: 1.35em;
    color:grey;
    font-family: Arial;
    cursor: pointer;
  }
} // end media query min-width 26em

/******************************************************************************
*******************************************************************************
BEGIN MEDIA QUERY MIN-WIDTH 37.5EM
*******************************************************************************
******************************************************************************/

$bubbleFontSize: 1.3em;

@media screen and (min-width: 37.5em) {

  $susy: (
    columns: 4,
    container: 20em
  );

  .wrapper {
    @include container;
    box-sizing: border-box;
  } // end .wrapper

  main {
    overflow: auto;
    height: 29.5em;
  }

  header,
  footer {
    background-color: $headerFooterBg;
    text-align: center;
  }

  h1 {
    padding-top: $h1TexboxTopMarg;
    // border-bottom: 1.5px solid $botBg;
    font-family: cursive;
    font-size: 2.25em;
    font-weight: 700;
  }

  .botTalkBubble {
    // @include span( 3 of 4 ); // each li will take up 3 columns
    width: auto;
    background-color: $botBg;
    float: left;
    text-align: left;
    border-radius: 1em;
    padding:.65em;
    margin-top: .75em;
    margin-left: .5em;
    font-family: $chatFont;
    font-size: $bubbleFontSize;
  }

  .userTalkBubble{
    @include span( 3 of 4 ); // each li will take up 3 columns
    background-color: $userBg;
    float: right;
    text-align: right;
    border-radius: 1em;
    padding:.65em;
    margin-top: .75em;
    margin-right: .5em;
    font-family: $chatFont;
    font-size: $bubbleFontSize;
    color: #fff;
  }

  img {
    width: 14.5em;
  }

  .weatherIcon {
    width: 2em;
  }

  footer {
    padding-top: 1.15em;
    border-top: 1.5px solid $botBg;
  }

  .textBox {
    width: 10em;
    height: 1.8em;
    border-radius: .9em;
    font-size: 1.45em;
    margin: 0 .4em .75em .55em;
  }

  .textBox:focus {
    outline: none; // thank you, http://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome
  }

  .sendButton {
    margin-top: .31em;
    font-size: 1.45em;
    color:grey;
    font-family: Arial;
    cursor: pointer;
  }
} // end media query min-width 26em

/******************************************************************************
*******************************************************************************
BEGIN MEDIA QUERY MIN-WIDTH 48EM -- TABLET SIZE
*******************************************************************************
******************************************************************************/

$bubbleFontSize: 1.35em;

@media screen and (min-width: 48em) {

  $susy: (
    columns: 4,
    container: 16em
  );

  .wrapper {
    @include container;
    box-sizing: border-box;
    margin-top: -1em;
  } // end .wrapper

  main {
    overflow: auto;
    height: 28.5em;
  }

  header,
  footer {
    background-color: $headerFooterBg;
    text-align: center;
  }

  h1 {
    padding-top: $h1TexboxTopMarg;
    // border-bottom: 1.5px solid $botBg;
    font-family: cursive;
    font-size: 2.5em;
    font-weight: 700;
  }

  .botTalkBubble {
    // @include span( 3 of 4 ); // each li will take up 3 columns
    width: auto;
    background-color: $botBg;
    float: left;
    text-align: left;
    border-radius: 1em;
    padding:.65em;
    margin-top: .75em;
    margin-left: .5em;
    font-family: $chatFont;
    font-size: $bubbleFontSize;
  }

  .userTalkBubble{
    @include span( 3 of 4 ); // each li will take up 3 columns
    background-color: $userBg;
    float: right;
    text-align: right;
    border-radius: 1em;
    padding:.63em;
    margin-top: .75em;
    margin-right: .5em;
    font-family: $chatFont;
    font-size: $bubbleFontSize;
    color: #fff;
  }

  img {
    width: 14.75em;
  }

  .weatherIcon {
    width: 2.25em;
  }

  footer {
    padding-top: 1.15em;
    border-top: 1.5px solid $botBg;
  }

  .textBox {
    width: 10em;
    height: 1.8em;
    border-radius: .9em;
    font-size: 1.85em;
    margin: 0 .4em .75em .55em;
  }

  .textBox:focus {
    outline: none; // thank you, http://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome
  }

  .sendButton {
    margin-top: .31em;
    font-size: 1.85em;
    color:grey;
    font-family: Arial;
    cursor: pointer;
  }
} // end media query min-width 48em

/******************************************************************************
*******************************************************************************
BEGIN MEDIA QUERY MIN-WIDTH 80EM -- LAPTOP SIZE
*******************************************************************************
******************************************************************************/

$bubbleFontSize: 1.35em;

@media screen and (min-width: 48em) {

  $susy: (
    columns: 4,
    container: 16em
  );

  .wrapper {
    @include container;
    box-sizing: border-box;
    margin-top: -1em;
  } // end .wrapper

  main {
    overflow: auto;
    margin: auto;
    width: 90%;
    height: 29.5em;
  }

  header,
  footer {
    background-color: $headerFooterBg;
    text-align: center;
  }

  h1 {
    padding-top: $h1TexboxTopMarg;
    // border-bottom: 1.5px solid $botBg;
    font-family: cursive;
    font-size: 2.5em;
    font-weight: 700;
  }

  .botTalkBubble {
    // @include span( 2 of 4 ); // each li will take up 3 columns
    width: 15em;
    background-color: $botBg;
    text-align: left;
    border-radius: 1em;
    padding:.65em;
    margin-top: .75em;
    margin-left: .5em;
    margin-right: 30em;
    font-family: $chatFont;
    font-size: $bubbleFontSize;
  }

  .userTalkBubble{
    @include span( 2 of 4 ); // each li will take up 3 columns
    // width: 55%;
    background-color: $userBg;
    float: right;
    text-align: right;
    border-radius: 1em;
    padding:.63em;
    margin-top: .75em;
    margin-right: .5em;
    font-family: $chatFont;
    font-size: $bubbleFontSize;
    color: #fff;
  }

  img {
    width: 14.75em;
  }

  .weatherIcon {
    width: 2.25em;
  }

  footer {
    padding-top: 1.15em;
    border-top: 1.5px solid $botBg;
  }

  .textBox {
    width: 14em;
    height: 1.8em;
    border-radius: .9em;
    font-size: 1.35em;
    padding-left: .5em;
    margin: 0 .4em .75em .55em;
  }

  .textBox:focus {
    outline: none; // thank you, http://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome
  }

  .sendButton {
    margin-top: .31em;
    font-size: 1.35em;
    color:grey;
    font-family: Arial;
    cursor: pointer;
  }
} // end media query min-width 80em















// $bubbleFontSize: 1.75em;
//
// @media screen and (min-width: 80em) {
//
//   $susy: (
//     columns: 4,
//     container: 16em
//   );
//
//   .wrapper {
//     @include container;
//     border: 2em solid yellow;
//     box-sizing: border-box;
//     margin-top: -1em;
//   } // end .wrapper
//
//   main {
//     overflow: auto;
//     // height: 2.75em;
//   }
//
//   header,
//   footer {
//     background-color: $headerFooterBg;
//     text-align: center;
//   }
//
//   header {
//     @include span( 1 of 4 ); // each will take up 1 column
//     width: 30em;
//     height: 47.5em;
//     float: left;
//   }
//
//   footer {
//     @include span( 3 of 4 ); // each will take up 3 columns
//     position: relative;
//     bottom: 6.5em;
//     left: 4em;
//     width: 66%;
//     float: right;
//   }
//
//   h1 {
//     padding-top: $h1TexboxTopMarg;
//     padding-bottom: .75em;
//     font-family: $chatFont;
//     font-size: 2.5em;
//     font-weight: 700;
//   }
//
//   .botTalkBubble {
//     @include span( 3 of 4 ); // each will take up 3 columns
//     background-color: $botBg;
//     float: left;
//     text-align: left;
//     border-radius: 1em;
//     margin-top: .75em;
//     margin-left: .5em;
//     font-family: $chatFont;
//     font-size: $bubbleFontSize;
//   }
//
//   .userTalkBubble{
//     @include span( 3 of 4 ); // each will take up 3 columns
//     background-color: $userBg;
//     float: right;
//     text-align: right;
//     border-radius: 1em;
//     padding:.63em;
//     margin-top: .75em;
//     margin-right: .5em;
//     font-family: $chatFont;
//     font-size: $bubbleFontSize;
//     color: #fff;
//   }
//
//   img {
//     width: 14.75em;
//     margin: 1em 0 1em 1em;
//   }
//
//   .weatherIcon {
//     width: 2.25em;
//   }
//
//   footer {
//     padding-top: 1.15em;
//     // border-top: 1.5px solid $botBg;
//   }
//
//   .textBox {
//     width: 10em;
//     height: 1.8em;
//     border-radius: .9em;
//     font-size: 1.85em;
//     margin: 0 .4em .75em .55em;
//   }
//
//   .textBox:focus {
//     outline: none; // thank you, http://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome
//   }
//
//   .sendButton {
//     margin-top: .31em;
//     font-size: 1.85em;
//     color:grey;
//     font-family: Arial;
//     cursor: pointer;
//   }
